body {
    margin: 0px;
    padding: 0px;
  }
  
.sidebar {
    grid-area: sidebar;
}
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }

      .button{
          grid-area: button;
          margin: 0;
      }
  
  
      .wrapper {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 20% 20% 20%;
          grid-template-areas:
          "header header header"
          "button button button"
          "sidebar content content"
          "footer  footer  footer";
          background-color: #fff;
          color: #444;
      }
  
  
  .box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }